# Cache and logs
/var/cache/*
/var/logs/*

# Email spool folder
!/app/spool/*

# Logs (Symfony4)
/var/log/*
!var/log/.gitkeep

# Managed by Composer
/var/bootstrap.php.cache
/bin/*
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/phpunit.xml

# Build data
/build/

# Entités
!**/Entity/*~

# Embedded web-server pid file
/.web-server-pid
