{% extends 'base.html.twig' %}

{% block title %}Affichage d'une liste d'auteurs{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
{% endblock %}

{% block header %}
    <h1>Bibliothèque de Babel</h1>
{% endblock %}

{% block main %}
<section id="author-list">
    <h1>Catalogue des auteurs</h1>

    <section class="catalog">
    {% for author in authors %}
        {% include 'default/author.html.twig' with {'author': author} %}
    {% endfor %}
    </section>
</section>
{% endblock %}

{% block footer %}
    <p class="licence">
        Michel Cadennes — Octobre 2020
    </p>
{% endblock %}
